@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');


.header{
    background: var(--gray--800);
    height: 80px;
    display: flex;
    justify-content: center;
    padding: 1.25rem 0;
    font-size: 2rem;
}

.header img{
    height: 2rem;
    
}

.header strong {
    margin-left: 10px;
    font-family: 'Libre Baskerville', serif;


}

